.AppBlock {
    background: url('https://static.vecteezy.com/system/resources/previews/001/201/471/large_2x/splatter-art-png.png');
    opacity: 50;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(60, 85, 92, 0.12);
}

